<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>ng-notify by matowens</title>

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href='http://fonts.googleapis.com/css?family=Source+Serif+Pro|Open+Sans' rel='stylesheet' type='text/css'>

    <!-- build:css demo.min.css -->
    <link href="demo.css" media="all" rel="stylesheet" type="text/css">
    <link href="../dist/ng-notify.min.css" rel="stylesheet" type="text/css">
    <!-- /build -->

</head>

<body ng-controller="MainCtrl">

    <div class="header">
        <h1>ng-notify</h1>
        <h2>A simple, lightweight module for displaying notifications in your AngularJS app.</h2>
    </div>

    <div class="main">
        <h3>vitals</h3>
        <ul>
            <li>version<br>v0.6.3</li>
        </ul>
        <ul>
            <li>total size<br> ~4.4 kBs</li>
        </ul>
        <ul>
            <li>files<br>ng-notify.min.js - 2.65 kBs<br>ng-notify.min.css - 1.71 kBs</li>
        </ul>
        <ul>
            <li>support<br>ie9+ and latest chrome, firefox & safari</li>
        </ul>
        <ul>
            <li>git repo<br><a href="https://github.com/matowens/ng-notify">https://github.com/matowens/ng-notify</a></li>
        </ul>

        <span class="spacer" id="demo"></span>

        <h3>demo</h3>
        <ul>
            <li><a class="btn success" ng-class="theme" ng-click="displayNotify('success')">success</a></li>
            <li><a class="btn info" ng-class="theme"  ng-click="displayNotify('info')">info</a></li>
            <li><a class="btn warn" ng-class="theme"  ng-click="displayNotify('warn')">warn</a></li>
            <br />
            <li><a class="btn error" ng-class="theme"  ng-click="displayNotify('error')">error</a></li>
            <li><a class="btn grimace" ng-class="theme"  ng-click="displayNotify('grimace')">grimace</a></li>
            <li><a class="btn default" ng-click="displayNotify()">default</a></li>
            <br />
            <li><a class="btn default" ng-click="displayNotify('html')">w/ HTML</a></li>
            <!-- <li><a ng-click="dismissNotify()">Dismiss</a></li> -->
        </ul>

        <span class="spacer"></span>

        <h3>options</h3>
        <ul>
            <li>
                <label for="theme">theme</label>
                <select ng-model="theme" id="theme" ng-options="value for value in themeOptions" ng-change="setDefaultTheme()"></select>
            </li>
            <li>
                <label for="position">position</label>
                <select ng-model="position" id="position" ng-options="value for value in positionOptions" ng-change="setDefaultPosition()"></select>
            </li>
            <li>
                <label for="defaultType">default</label>
                <select ng-model="defaultType" id="defaultType" ng-options="value for value in defaultOptions" ng-change="setDefaultType()"></select>
            </li>
            <li>
                <label for="duration">duration</label>
                <select ng-model="duration" id="duration" ng-options="item.id as item.value for item in durationOptions" ng-change="setDefaultDuration()"></select>
            </li>
            <li>
                <label for="sticky">sticky</label>
                <select ng-model="sticky" id="sticky" ng-options="value for value in stickyOptions" ng-change="setDefaultSticky()"></select>
            </li>
            <li>
                <label for="html">html<span class="new">new</span></label>
                <select ng-model="html" id="html" ng-options="value for value in htmlOptions" ng-change="setDefaultHtml()"></select>
            </li>
        </ul>
        <p>Alter an option and then click through the demo again.  Check out <a href="https://github.com/matowens/ng-notify#configuration">the repo</a> for an example of how to set options for your project.</p>

        <span class="spacer"></span>

        <h3>customize</h3>
        <p>Head over to the <a href="https://github.com/matowens/ng-notify#roll-your-own">git repo</a> for instructions on how to roll your own options, types and themes.</p>

        <span class="spacer"></span>

        <h3>share</h3>

        <ul>
            <li class="git-share"><a href="https://github.com/matowens/ng-notify" class="github-button" data-icon="octicon-star" data-count-href="/matowens/ng-notify/stargazers" data-count-api="/repos/matowens/ng-notify#stargazers_count">Star</a><script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script></li>
            <li class="twit-share"><a href="https://twitter.com/share" class="twitter-share-button" data-text="ng-notify: A simple, lightweight module for displaying notifications in your AngularJS app." data-via="TheMatOwens" data-hashtags="angularjs">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
        </ul>

        <span class="spacer"></span>

        <h3>contact</h3>
        <p>Have any ideas or feedback?  Shoot me a message: <a href="http://matowens.com/contact">matowens.com/contact</a>

        <div class="foot"></div>

    </div>

    <!-- build:js demo.min.js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../dist/ng-notify.min.js"></script>
    <script src="demo.js"></script>
    <!-- /build -->

</body>
</html>
